@model PhoneStore.Domain.Entities.Phone

<h3 class="mb-4">➕ Add Phone</h3>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Image URL</label>
        <input asp-for="ImageUrl" class="form-control" placeholder="https://..." />
    </div>

    <button class="btn btn-success">
        <i class="bi bi-check-circle"></i> Save
    </button>
    <a href="/Admin/Index" class="btn btn-secondary">Back</a>
</form>
